<h3>Planets Index page</h3>


{{#each planets}}
  <div class="planet">
    <p>Name: <a class="planet-link" href="/planets/{{id}}">{{name}}</a></p>
    <p>Description: {{description}}</p>
    <p>Race: {{race.name}}</p>
  </div>
{{/each}}
