<div class="planet-new">
  <h3>New Planet</h3>

  <fieldset>
    <legend>New Planet Form</legend>
    <form action="/planets" method="post">
      <p>Name</p>
      <input type="name" name="name" required=true>

      <p>Description</p>
      <input type="text" name="description" required=true>

      <input type="submit">
    </form>
  </fieldset>

  <a href="/planets">Back to planets</a>
</div>
