<div class="planet-new">
  <h3>New Planet</h3>

  <fieldset>
    <legend>New Planet Form</legend>
    <form action="/planets" method="post">
      <p>Name</p>
      <p><input type="name" name="name" required=true></p>

      <p>Description</p>
      <p><input type="text" name="description" required=true></p>

      <p>Pick race</p>
      <p>
        <select name="topic_id">
          {{#each races}}
            <option value="{{id}}">{{name}}</option>
          {{/each}}
        </select>
      </p>

      <p><input type="submit"></p>
    </form>
  </fieldset>

  <a href="/planets">Back to planets</a>
</div>
