<div class="planet-show">
  <h3>Planet: {{planet.name}}</h3>
  <p>Description: {{planet.description}}</p>
  <p>Race: {{planet.race.name}}</p>
  <a href="/planets/{{planet.id}}/edit" class="edit">Edit</a>
  <p><a href="/planets">Back to planets</a></p>
</div>
